
@{
    ViewData["Title"] = "Home Page";
}
@model VendingMachineViewModel
<html>
<body> 
    <h1 style="text-align:center">Vending Machine</h1>
    <form method="post">       
        @*<hr style="    margin-top: 20px;
            margin-bottom: 20px;
            border: 0; " />*@
        <div class="col-xs-7 col-sm-9">
            
            <div style="text-align:right;margin-bottom:10px;margin-right:16px;">
                <input type="submit" name="submit" value="Home" class="btn btn-primary" />
                @if (Model.Operations == OperationEnum.Home)
                {
                    <input type="submit" name="submit" value="Restock" class="btn btn-primary" />
                }    
            </div>
            
            @Html.TextBoxFor(s => s.TotalCansLeft, new { style = "display: none;" })
            @Html.TextBoxFor(s => s.TotalCansSold, new { style = "display: none;" })
            @Html.TextBoxFor(s => s.TotalCashCollected, new { style = "display: none;" })
            @Html.TextBoxFor(s => s.TotalCreditCollected, new { style = "display: none;" })
            @for (var i = 1; i <= 10; i++)
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            Price: <strong>$4.5</strong>

                            Item: <strong>@i</strong>
                        </div>
                        <div class="panel-body"><img src="@String.Format("images/img-{0}.jpg",@i)" style="height:60px" class="img-rounded img-responsive center-block"></div>
                        <div class="panel-footer">
                                <button name="submit" value="Purchase" class="btn btn-primary"
                                         @{ if(Model.Operations != OperationEnum.Home) { 
                                                 @:disabled="disabled" 
                                            } }>Purchase</button>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Operations == OperationEnum.Purchase)
            {

                @if (Model.CashCredit == WebApplication1.Enums.CashCreditEnum.none)
                {
                    <div style="text-align:center">
                        <input type="submit" name="submit" value="Cash" class="button" />
                        <input type="submit" name="submit" value="Credit Card" class="button" />
                    </div>
                }
                else
                {
                    <div style="text-align:center">
                        <label><h4>Enter Amount:</h4></label> @Html.TextBoxFor(s => s.CashEntered, new { @class = "form-control", style = "width:30%;display:inline-block" })
                        @Html.TextBoxFor(s => s.CashCredit, new { style = "display: none;" })
                        <br />
                        <div style="text-align:center; margin-top:10px;">
                            <input type="submit" name="submit" value="Complete Purchase" class="button" />
                        </div>

                    </div>
                }

            }
            else if (Model.Operations == OperationEnum.Restock)
            {
                <div>
                    Number of cans:
                    @Html.TextBoxFor(s => s.RestockNumber, new { @class = "form-control", style = "width:15%;display:inline-block" })
                    <input type="submit" name="submit" class="btn btn-primary" value="Complete Restock" style="text-align:center" />
                </div>
            }


            <div>
                <label style="color:green;margin-left:16px">@Html.DisplayFor(item => item.RefundMessage, null, new { @class = "form-control" })</label>
                @*@Html.TextBoxFor(s => s.RefundMessage, new { style = "display: none;" })*@
            </div>

            <div >
                <label style="color:red;margin-left:16px">@Html.DisplayFor(item => item.ErrorMessage, null, new { @class = "form-control" })</label>
                @*@Html.TextBoxFor(s => s.ErrorMessage, new { style = "display: none;" })*@
            </div>
        </div>
        <div class="col-xs-7 col-sm-3" >
            <div class="panel panel-default">
                <div class="panel-heading">

                    Current Stock
                </div>

                <div style="padding: 10px 15px;">
                    <div>
                        Total Cans Left:
                        <label>@Html.DisplayFor(item => item.TotalCansLeft, null, new { @class = "form-control" })</label>
                    </div>
                    <div>
                        Total Cans Sold:
                        <label>@Html.DisplayFor(item => item.TotalCansSold, null, new { @class = "form-control" })</label>
                    </div>
                    <div>
                        Total Cash Collected:
                        <label>@Html.DisplayFor(item => item.TotalCashCollected, null, new { @class = "form-control" })</label>
                    </div>
                    <div>
                        Total Credit Collected:
                        <label>@Html.DisplayFor(item => item.TotalCreditCollected, null, new { @class = "form-control" })</label>
                    </div>
                </div>
            </div>
            <hr style="margin-top: 20px;
    margin-bottom: 20px;
    border: 0;" />

            @*<div>
            Restock following number of cans:
            @Html.TextBoxFor(s => s.RestockNumber)
            <input type="submit" name="submit" value="Restock" />
        </div>*@

    </form>        
</body>
</html>

